.movieList{
    margin-bottom: 30px;
}

.movieList h2{
    margin: 0 0 0 30px;
}

.movieList .area{
    overflow-x: hidden;
    padding-left: 30px;
}

.movieList .list {
    transition: 0.3s ease;
}

.movieList .item{
    display: inline-block;
    width: 195px;
}

.movieList .item img{
    cursor: pointer;
    width: 100%;
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}

.movieList .item img:hover{
    transform: scale(1);
}

.arrow{
    position: absolute;
    width: 40px;
    height: 290px;
    background-color: rgba(0, 0, 0, .4);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s ease;
} 

.arrow.left{
    left: 0;
}

.arrow.right {
    right: 0;
}

.movieList:hover .arrow.left,
.movieList:hover .arrow.right {
    opacity: 1;
}

@media (max-width: 760px) {
    

    .arrow {
        opacity: 1;
    }
}